/*
Remember!!! 
100 points for IDs
10 points for classes and pseudo-classes
1 point for tag selectors and pseudo-elements 
*/

/********************************
Modal
********************************/

#upperContent, #lowerContent {
    padding-left: 15px;
    padding-right: 15px;
}

#titleHeader {
    margin: 0;
    text-align: center;
    background-color: #AED6F1;
};


#footer {
    /* text-align: center; */
    /* background-color: #aed6f1; */
}

#pageBottom {
    padding: 10px;
    text-align: center;
    background-color: #AED6F1;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    position: relative;
    /* bottom: 0; */
}
/*1790*/
@media (min-width: 1086px) {
    #pageBottom {
        position: absolute;
        bottom: 0;
    }
}

/* #003B6f Doctor Who Blue */


/********************************
SignUP Modal
********************************/

#signUpForm {
    padding: 10px;
}

#emailInput {
    margin-top: 10px;
}

.inputField {
    background-color: #ECF0F1;
    border: 1px solid #ECF0F1;
}

.modal-header {
    background-color: #AED6F1;
}

#subBTN, #cnlBTN {
    background-color: #AED6F1;
}

#subBTN:hover, #cnlBTN:hover {
    background-color: #2E86C1;
}

#errorMSG {
    display: none;
    color: red;
    font-weight: bold;
}



/********************************
Rate Modal
********************************/
#star-five { 
    margin: 50px 0; 
    position: relative; 
    display: block;
    color: ##ABEBC6; 
    width: 0px; 
    height: 0px; 
    border-right: 100px solid transparent; 
    border-bottom: 70px solid #ABEBC6; 
    border-left: 100px solid transparent; 
    -moz-transform: rotate(35deg); 
    -webkit-transform: rotate(35deg); 
    -ms-transform: rotate(35deg); 
    -o-transform: rotate(35deg); 
}

#star-five:before { 
    border-bottom: 80px solid #ABEBC6; 
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent; 
    position: absolute; 
    height: 0; 
    width: 0; 
    top: -45px; 
    left: -65px; 
    display: block; 
    content: ''; 
    -webkit-transform: rotate(-35deg); 
    -moz-transform: rotate(-35deg); 
    -ms-transform: rotate(-35deg); 
    -o-transform: rotate(-35deg); 
} 

#star-five:after { 
    position: absolute; 
    display: block; 
    color: #ABEBC6; 
    top: 3px; 
    left: -105px; 
    width: 0px; 
    height: 0px; 
    border-right: 100px solid transparent; 
    border-bottom: 70px solid #ABEBC6; 
    border-left: 100px solid transparent; 
    -webkit-transform: rotate(-70deg); 
    -moz-transform: rotate(-70deg); 
    -ms-transform: rotate(-70deg); 
    -o-transform: rotate(-70deg); 
    content: ''; 
}



























