/*
Remember!!! 
100 points for IDs
10 points for classes and pseudo-classes
1 point for tag selectors and pseudo-elements 
*/



#titleHeader {
    margin: 0;
    text-align: center;
    background-color: #AED6F1;
};

#footer {
    /* text-align: center; */
    /* background-color: #aed6f1; */
}

#pageBottom {
    padding: 10px;
    text-align: center;
    background-color: #AED6F1;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    position: relative;
    /* bottom: 0; */
}

@media (min-width: 1790px) {
    #pageBottom {
        position: absolute;
        bottom: 0;
    }
}

/* #003B6f Doctor Who Blue */