/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */

/********************************
Star Rating
********************************/


/* fieldset, label { margin: 0; padding: 0; } */
/* body{ margin: 20px; } */
/* h1 { font-size: 1.5em; margin: 10px; } */

/****** Style Star Rating Widget *****/

.rating { 
    border: none;
    width: 75%;
    /* margin: 0 auto; */
    /* float: left; */
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
   color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #58d68d;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #58d68d;  }
  
/*
Remember!!! 
100 points for IDs
10 points for classes and pseudo-classes
1 point for tag selectors and pseudo-elements 
*/



#titleHeader {
    margin: 0;
    text-align: center;
    background-color: #AED6F1;
};

div #upperContent {
    padding-left: 15px;
}

#footer {
    /* text-align: center; */
    /* background-color: #aed6f1; */
}

#pageBottom {
    padding: 10px;
    text-align: center;
    background-color: #AED6F1;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    position: relative;
    /* bottom: 0; */
}

@media (min-width: 1790px) {
    #pageBottom {
        position: absolute;
        bottom: 0;
    }
}

/* #003B6f Doctor Who Blue */


/********************************
Sign Up Modal
********************************/

#signUpForm {
    padding: 10px;
}

#nameInput {
    width: 80%;
}

#emailInput {
    width: 80%;
    margin-top: 10px;
    margin-left: 5px;
}

#rollQuest {
    margin-bottom: 5px;
    border-top: 1px solid #e9ecef;
    padding-top: 10px;
}

.inputField {
    background-color: #ECF0F1;
    border: 1px solid #ECF0F1;
}

.modal-header {
    background-color: #AED6F1;
}

#subBTN, #cnlBTN {
    background-color: #AED6F1;
}

#subBTN:hover, #cnlBTN:hover {
    background-color: #2E86C1;
}

#errorMSG {
    display: none;
    color: red;
    font-weight: bold;
}



/********************************
Rate Modal
********************************/
.modal-body {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* div.#starCont.stars { 
border: 2px red solid;
} */

/* .star.rating {
    fill: gray;
}

.star.rating:hover{
    fill: #58d68d;
}

.star:hover,
.star:hover ~ .rating {
    fill: #58d68d;
} */



/********************************
Modal Footer
********************************/
.modal-footer {
    display: block;
    margin: 0 auto;
    border-top: 1px solid #e9ecef;
    
}



















